<button routerLink="/" mat-fab class="icon-color" aria-label="Example icon button with a home icon">
  <mat-icon>home</mat-icon>
</button><br><br>
<h1>{{ (getCurrUsr$ | async)?.name }} {{ (getCurrUsr$ | async)?.surname }}</h1>
<form [formGroup]="form" class="example-form" (submit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Enter Your Name" formControlName="name">
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error> -->
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
    <mat-label>Surname</mat-label>
    <input type="text" matInput placeholder="Enter Your Surname" formControlName="surname">
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error> -->
    <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error> -->
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Client Status</mat-label>
    <mat-select formControlName="statusId">
      <mat-option *ngFor="let status of getClientStatus$ | async" [value]="status.id">
        {{status.name}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-checkbox *ngFor="let skill of getSkills$ | async; let i = index"
              [value]="skill.id"
              [checked]="isChecked(skill.id)"
              (change)="toggleSkill(skill.id)">
  {{ skill.name }}
</mat-checkbox><br>      
      <button mat-raised-button color="primary">Submit</button>
</form>